body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
 
}

::-webkit-scrollbar-track {
  background-color: #7510F7;
  border-radius: 10px;
  border: solid 1px white
}